@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.navbar-expand-lg a {
  color: #ababab;
}
.navbar-expand-lg a:hover {
  color: #00b39b;
}
.slogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lead {
  text-align: center;
}
h1 {
color: #00b39b;
margin-top: 30px !important;
margin: 1em 0;
font-family: Work Sans,Arial,sans-serif !important;
letter-spacing: -.3px; }

.justify-content-center {
  margin-top: 50px;
  gap: 30px;
  }

.service {
  background: #00ccb1;
  border-radius: 10px;
  padding: 30px;
}
.service_2 {
  background: #3d83df;
  border-radius: 10px;
  padding: 30px;
}
.service_3 {
  background: #1b2734;
  border-radius: 10px;
  padding: 30px;
}
.service h2, h3 {
  font-weight:100 !important;
  color: white;
}
.service_2 h2, h3 {
  font-weight:100 !important;
  color: white;
}
.service_3 h2, h3 {
  font-weight:100 !important;
  color: white;
}
select {
background: none;
border: none;
color: white;
font-size: 1.2rem !important;
}
option {
  color: black;
}
.drop-select {
  margin-top: 50px;
}

.banner {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  background-color: #cff9f3;
}

.banner h3 {
  color: #00ccb1;
}

.wraper1 {
grid-area: 1 / 1 / 2 / 2;
}

.wraper2 {
grid-area: 1 / 2 / 2 / 3;

}

.box-w {
  display: inline-grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 300px 300px;
  background-color: #cff9f3;
  margin:5%;
}
.box2 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;
  align-self: center;
  justify-self: center;

}
.box3 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;

}
.box4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.box5 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;
  align-self: center;
  justify-self: center;
}
.boxed {
  align-self: center;
  justify-self: center;
}




