@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.navbar-expand-lg a {
  color: #ababab;
}
.navbar-expand-lg a:hover {
  color: #00b39b;
}
.slogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lead {
  text-align: center;
}
h1 {
color: #00b39b;
margin-top: 30px !important;
margin: 1em 0;
font-family: Work Sans,Arial,sans-serif !important;
letter-spacing: -.3px; }

.justify-content-center {
  margin-top: 50px;
  gap: 30px;
  }

.service {
  background: #00ccb1;
  border-radius: 10px;
  padding: 30px;
}
.service_2 {
  background: #3d83df;
  border-radius: 10px;
  padding: 30px;
}
.service_3 {
  background: #1b2734;
  border-radius: 10px;
  padding: 30px;
}
.service h2, h3 {
  font-weight:100 !important;
  color: white;
}
.service_2 h2, h3 {
  font-weight:100 !important;
  color: white;
}
.service_3 h2, h3 {
  font-weight:100 !important;
  color: white;
}
select {
background: none;
border: none;
color: white;
font-size: 1.2rem !important;
}
option {
  color: black;
}
.drop-select {
  margin-top: 50px;
}
.banner {
  background-color: #e5faf8;
}
.log {
  content: "";

    background: url(https://www.docplanner.com/img/logo.png) no-repeat;
    width: 456px;
    height: 435px;

}
