@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	
.navbar-expand-lg a {
  color: #ababab;
}
.navbar-expand-lg a:hover {
  color: #00b39b;
}
.slogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.lead {
  text-align: center;
}
h1 {
color: #00b39b;
margin-top: 30px !important;
margin: 1em 0;
font-family: Work Sans,Arial,sans-serif !important;
letter-spacing: -.3px; }

.justify-content-center {
  margin-top: 50px;
  gap: 30px;
  }

.service {
  background: #00ccb1;
  border-radius: 10px;
  padding: 30px;
}
.service_2 {
  background: #3d83df;
  border-radius: 10px;
  padding: 30px;
}
.service_3 {
  background: #1b2734;
  border-radius: 10px;
  padding: 30px;
}
.service h2, h3 {
  font-weight:100 !important;
  color: white;
}
.service_2 h2, h3 {
  font-weight:100 !important;
  color: white;
}
.service_3 h2, h3 {
  font-weight:100 !important;
  color: white;
}
select {
background: none;
border: none;
color: white;
font-size: 1.2rem !important;
}
option {
  color: black;
}
.drop-select {
  margin-top: 50px;
}

.banner {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  background-color: #cff9f3;
  justify-content: center;
  gap: 50px;
}

.banner h3 {
  color: #00ccb1;
}

.wraper1 {
grid-area: 1 / 1 / 2 / 2;
}

.wraper2 {
grid-area: 1 / 2 / 2 / 3;

}

.box-w {
  display: inline-grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  background-color: #cff9f3;
  margin:5%;
}
.box2 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 250px;
  display: grid;

}
.box3 {
  grid-area: 1 / 2 / 2 / 3;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 250px;
  display: grid;
}
.box4 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 250px;
  display: grid;
}
.box5 {
  grid-area: 2 / 2 / 3 / 3;
  background-color: white;
  margin:10px;
  padding: 10px;
  text-align: center;
  width: 200px;
  height: 250px;
  display: grid;
}
.boxed {
  align-self: center;
  justify-self: center;
}
.crop {
  width: 100%; 
  overflow: hidden;

}

.crop img {
  margin: 50px 0px -100px 0px;
}

.marque {
 align-items: center;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 font-size: 0;
 list-style: none;
 width: 67%;
 gap:5px;
}
.svg:hover {
color: #00b39b;
}

.marque-div h1 {
  float: left;
  width: 30%;
  font-size: 1.625em;
  margin: .25em 0 .35em;
  padding-right: 1em;
}
.wrap {
  display:flex;
align-items: center;
  justify-content: center;
}
.office {
  max-width: 460px;
  margin: 0 auto 4.1875rem;
  font-size: .875em;
  text-align: center;
}
.local {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}
/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  .local {
    display: flex;
    flex-direction: column;
    justify-content: center;
  gap: 10px;
  margin: 50px;
  }
}

.pic h3 {
  color: black;
}
.pic {
  background-color: white;
  
}
.pic:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: box-shadow .3s;
}

* {
  box-sizing: border-box;
}

.titlebox {
  display: flex;
  gap: 50px;
  margin-top: 10px;
  justify-content: center;
}

/* button w3 school */

.button {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(64, 147, 255);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 140px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* 2nd button */

.button2 {
  display: inline-block;
  border-radius: 4px;
  background-color: rgb(64, 147, 255);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 5px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button2 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button2:hover span {
  padding-right: 25px;
}

.button2:hover span:after {
  opacity: 1;
  right: 0;
}
.botom {
  text-align: center;
}
.botom h1 {
  color:#ababab;
}
footer {
  font-size: 14px;
  text-align: center;
  color: #ababab;
}